## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df.drop(['EIN', 'NAME'], axis=1, inplace=True)

In [3]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
unique_value_counts = application_df.nunique()
unique_value_counts

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
cutoff_value = 500  # Adjust this cutoff value as needed
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = application_type_counts[application_type_counts < cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts_greater_than_1 = classification_counts[classification_counts > 1]
classification_counts_greater_than_1

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
cutoff_value = 100  # Adjust this cutoff value as needed
classification_counts = application_df['CLASSIFICATION'].value_counts()
classifications_to_replace = classification_counts[classification_counts < cutoff_value].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_df_encoded = pd.get_dummies(application_df, columns=['APPLICATION_TYPE', 'CLASSIFICATION'])
application_df_encoded.head()

,AFFILIATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,...,CLASSIFICATION_C1270,CLASSIFICATION_C1700,CLASSIFICATION_C2000,CLASSIFICATION_C2100,CLASSIFICATION_C2700,CLASSIFICATION_C3000,CLASSIFICATION_C4000,CLASSIFICATION_C5000,CLASSIFICATION_C7000,CLASSIFICATION_Other
0,Independent,ProductDev,Association,1,0,N,5000,1,0,1,...,0,0,0,0,0,0,0,0,0,0
1,Independent,Preservation,Co-operative,1,1-9999,N,108590,1,0,0,...,0,0,1,0,0,0,0,0,0,0
2,CompanySponsored,ProductDev,Association,1,0,N,5000,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,CompanySponsored,Preservation,Trust,1,10000-24999,N,6692,1,0,0,...,0,0,1,0,0,0,0,0,0,0
4,Independent,Heathcare,Trust,1,100000-499999,N,142590,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
X = application_df_encoded.drop(columns=['IS_SUCCESSFUL'])
y = application_df_encoded['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
from sklearn.model_selection import train_test_split

# Split the data into a training set (80%) and a testing set (20%)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Print the shapes of the resulting datasets
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (27439, 28)
X_test shape: (6860, 28)
y_train shape: (27439,)
y_test shape: (6860,)

In [11]:
from sklearn.preprocessing import StandardScaler

# Apply one-hot encoding to the 'INCOME_AMT' column
X_train_encoded = pd.get_dummies(X_train, columns=['INCOME_AMT'])
X_test_encoded = pd.get_dummies(X_test, columns=['INCOME_AMT'])

# Apply appropriate encoding to the 'ASK_AMT' column (e.g., one-hot encoding or label encoding)
# Replace this with the actual encoding technique you choose
# X_train_encoded = pd.get_dummies(X_train_encoded, columns=['ASK_AMT'])
# X_test_encoded = pd.get_dummies(X_test_encoded, columns=['ASK_AMT'])


# Selecting only the numerical columns for scaling
numerical_columns = ["STATUS",
                     "APPLICATION_TYPE_Other",
                     "APPLICATION_TYPE_T10",
                     "CLASSIFICATION_C1270",
                     "CLASSIFICATION_C1700",
                     "CLASSIFICATION_C2000",
                     "CLASSIFICATION_C2100",
                     "CLASSIFICATION_C2700",
                     "CLASSIFICATION_C3000",
                     "CLASSIFICATION_C4000",
                     "CLASSIFICATION_C5000",
                     "CLASSIFICATION_C7000",
                     "CLASSIFICATION_Other"]  # Replace with actual numerical column names
X_train_numerical = X_train[numerical_columns]
X_test_numerical = X_test[numerical_columns]

# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler on the training data and transform both training and testing data
X_train_scaled = scaler.fit_transform(X_train_numerical)
X_test_scaled = scaler.transform(X_test_numerical)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense


nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(Dense(units=80, activation='relu', input_dim=X_train_scaled.shape[1]))
# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(Dense(units=30, activation='relu'))
# Output layer
#  YOUR CODE GOES HERE
nn.add(Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                1120

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 3581 (13.99 KB)
Trainable params: 3581 (13.99 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [17]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [18]:
# Train the model
#  YOUR CODE GOES HERE
history = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
858/858 [==============================] - 2s 1ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 2/100
858/858 [==============================] - 1s 1ms/step - loss: 0.6631 - accuracy: 0.5681
Epoch 3/100
858/858 [==============================] - 1s 1ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 4/100
858/858 [==============================] - 1s 1ms/step - loss: 0.6632 - accuracy: 0.5681
Epoch 5/100
858/858 [==============================] - 1s 1ms/step - loss: 0.6629 - accuracy: 0.5680
Epoch 6/100
858/858 [==============================] - 1s 1ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 7/100
858/858 [==============================] - 1s 1ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 8/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6629 - accuracy: 0.5681
Epoch 9/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 10/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6631 - accuracy: 0.5680
Epoch 11/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 12/100
858/858 [==============================] - 1s 1ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 13/100
858/858 [==============================] - 1s 1ms/step - loss: 0.6631 - accuracy: 0.5681
Epoch 14/100
858/858 [==============================] - 1s 1ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 15/100
858/858 [==============================] - 1s 1ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 16/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6630 - accuracy: 0.5671
Epoch 17/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6631 - accuracy: 0.5680
Epoch 18/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6629 - accuracy: 0.5681
Epoch 19/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6631 - accuracy: 0.5681
Epoch 20/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 21/100
858/858 [==============================] - 1s 1ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 22/100
858/858 [==============================] - 1s 1ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 23/100
858/858 [==============================] - 1s 1ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 24/100
858/858 [==============================] - 1s 1ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 25/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6631 - accuracy: 0.5681
Epoch 26/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 27/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6629 - accuracy: 0.5681
Epoch 28/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 29/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6631 - accuracy: 0.5681
Epoch 30/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6629 - accuracy: 0.5681
Epoch 31/100
858/858 [==============================] - 1s 1ms/step - loss: 0.6629 - accuracy: 0.5681
Epoch 32/100
858/858 [==============================] - 1s 1ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 33/100
858/858 [==============================] - 1s 1ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 34/100
858/858 [==============================] - 1s 1ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 35/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6629 - accuracy: 0.5681
Epoch 36/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 37/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6632 - accuracy: 0.5680
Epoch 38/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6629 - accuracy: 0.5681
Epoch 39/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 40/100
858/858 [==============================] - 1s 2ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 41/100
858/858 [==============================] - 1s 1ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 42/100
858/858 [==============================] - 1s 1ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 43/100
858/858 [==============================] - 1s 1ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 44/100
858/858 [==============================] - 1s 1ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 45/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 46/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 47/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 48/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6631 - accuracy: 0.5680
Epoch 49/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6629 - accuracy: 0.5681
Epoch 50/100
858/858 [==============================] - 1s 2ms/step - loss: 0.6629 - accuracy: 0.5681
Epoch 51/100
858/858 [==============================] - 1s 1ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 52/100
858/858 [==============================] - 1s 1ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 53/100
858/858 [==============================] - 1s 1ms/step - loss: 0.6629 - accuracy: 0.5681
Epoch 54/100
858/858 [==============================] - 1s 1ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 55/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6629 - accuracy: 0.5681
Epoch 56/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 57/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 58/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 59/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6629 - accuracy: 0.5681
Epoch 60/100
858/858 [==============================] - 1s 2ms/step - loss: 0.6631 - accuracy: 0.5680
Epoch 61/100
858/858 [==============================] - 1s 1ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 62/100
858/858 [==============================] - 1s 1ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 63/100
858/858 [==============================] - 1s 1ms/step - loss: 0.6629 - accuracy: 0.5681
Epoch 64/100
858/858 [==============================] - 1s 1ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 65/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6629 - accuracy: 0.5681
Epoch 66/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 67/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6628 - accuracy: 0.5681
Epoch 68/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6629 - accuracy: 0.5681
Epoch 69/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6629 - accuracy: 0.5681
Epoch 70/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6629 - accuracy: 0.5681
Epoch 71/100
858/858 [==============================] - 1s 1ms/step - loss: 0.6628 - accuracy: 0.5681
Epoch 72/100
858/858 [==============================] - 1s 1ms/step - loss: 0.6629 - accuracy: 0.5681
Epoch 73/100
858/858 [==============================] - 1s 1ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 74/100
858/858 [==============================] - 1s 1ms/step - loss: 0.6629 - accuracy: 0.5681
Epoch 75/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6629 - accuracy: 0.5681
Epoch 76/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 77/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6629 - accuracy: 0.5681
Epoch 78/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 79/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6629 - accuracy: 0.5681
Epoch 80/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 81/100

858/858 [==============================] - 1s 1ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 82/100
858/858 [==============================] - 1s 1ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 83/100
858/858 [==============================] - 1s 1ms/step - loss: 0.6629 - accuracy: 0.5681
Epoch 84/100
858/858 [==============================] - 1s 1ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 85/100
858/858 [==============================] - 2s 3ms/step - loss: 0.6629 - accuracy: 0.5681
Epoch 86/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6629 - accuracy: 0.5681
Epoch 87/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6629 - accuracy: 0.5681
Epoch 88/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 89/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 90/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 91/100
858/858 [==============================] - 1s 1ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 92/100
858/858 [==============================] - 1s 1ms/step - loss: 0.6629 - accuracy: 0.5681
Epoch 93/100
858/858 [==============================] - 1s 1ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 94/100
858/858 [==============================] - 1s 1ms/step - loss: 0.6629 - accuracy: 0.5678
Epoch 95/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6630 - accuracy: 0.5680
Epoch 96/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6628 - accuracy: 0.5681
Epoch 97/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 98/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6629 - accuracy: 0.5681
Epoch 99/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6630 - accuracy: 0.5681
Epoch 100/100
858/858 [==============================] - 2s 2ms/step - loss: 0.6630 - accuracy: 0.5681

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 1s - loss: 0.6633 - accuracy: 0.5637 - 767ms/epoch - 4ms/step
Loss: 0.6632679104804993, Accuracy: 0.5637026429176331

In [20]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save("trained_model.h5")

C:\Users\joey5\anaconda3\envs\dev\lib\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(